{% extends "base.html" %}
{% block body %}
<br><br><br><br>
<div id="search">
    <div class="searchblog">
        <form action="/articles" name="search_article" method="post">
            <div>
                <label for="search_articles">BLOG検索</label>
                <p><input id="search_articles" type="text" value="" name="keyword"/></p>
            </div>
            <div>
                <table border="0" class="profile_table">
                    <tr>
                      <td><label>Title</label></td>
                      <td><input type="radio" name="search_by" class="titles" value="titles" checked="checked"></td>
                    </tr>
                    <tr>
                      <td><label>Keyword</label></td>
                      <td><input type="radio" name="search_by" class="words" value="words"></td>
                    </tr>
                    <tr>
                      <td><label>User</label></td>
                      <td><input type="radio" name="search_by" class="us" value="users"></td>
                    </tr>
                  </table>
            </div>
            <Br>
            <div>
                <a href="javascript:search_article.submit()"><div class="img_rightside" style="margin-left: 3px;"><img src="{{url_for('static', path='/pics/search.png')}}" width="30" height="30" alt="search"></div></a>
            </div>
        </form><br>
        <p><a href="{{ url_for('articles_index') }}"><div class="img_rightside"><img src="{{url_for('static', path='/pics/sync.png')}}" width="30" height="30" alt="sync"></div></a></p>
        <p><a href="{{ url_for('create_article_page') }}"><div class="img_rightside" style="margin-left: 3px;"><img src="{{url_for('static', path='/pics/create.png')}}" width="30" height="30" alt="create"></div></a></p>
        
    </div>
</div>
    <div class="content">
        <h2><br>BLOG</h2>
        <br>
            {% for article in articles %}
            <div class="blogs">
                <p>
                    <a class="blogtitle" href="{{ url_for("article_detail_page", article_id=article["id"]) }}">{{ article["title"] }} </a>
                    <p style="font-size: 90%;">By:<a class="blogtitle" href="{{ url_for("user_detail_page", username=article["username"]) }}">{{ article["nickname"] }}</a></p>
                    <p style="font-size: 78%;">{{ article["created_at"] }}</p>
                </p>
            </div>
            {% endfor %}
        {% if not articles %}
            <p>投稿された記事はありません</p>
        {% endif %}
    </div>
{% endblock %}