<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>サンプルページ</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/styles/styles.css')}}">
</head>
<body>
    <br>

    {% if not user %}
    <div class="letter">
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('register') }}">新規登録</a>
            </li>
            <li>
                <a href="{{ url_for('index') }}">ログイン</a>
            </li>
        </ul>
    </nav>
    </div>
    {% else %}
    <nav class="manu" style="z-index:10000">
        <h3>ようこそ{{ user["username"] }}さん</h3>
        <h4>プロフィール</h4>
        <table border="0" class="profile_table">
            <tr>
              <td>Your Club</td>
              <td>{{ user["your_club"] }}</td>
            </tr>
            <tr>
              <td>Your League</td>
              <td>{{ user["your_league"] }}</td>
            </tr>
            <tr>
              <td>Your Nation</td>
              <td>{{ user["your_nation"] }}</td>
            </tr>
            <!-- <tr>
                <td>Profile</td>
                <td>{{ user["profile"] }}</td>
              </tr> -->
          </table>
        <p>Home</p>  
        <ul class="main_menu">
            <li>
                <a href="{{ url_for('profile_update_page') }}">プロフィール</a>
            </li>
            <li>
                <a href="{{ url_for('articles_index') }}">記事一覧</a>
            </li>
            <li>
                <a href="{{ url_for('create_article_page') }}">投稿</a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}" methods="post"> ログアウト </a>
            </li>
        </ul>
        <p>Community</p>
        <ul class="community_menu">
            <li>
                <a href="{{ url_for('find_community') }}">検索</a>
            </li>
            <li>
                <a href="{{ url_for('create_community') }}">新規作成</a>
            </li>
        </ul>
    </nav>
    {% endif %}
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    {% if information %}
        <p style="color: cornflowerblue">{{ information }}</p>
    {% endif %}
<main>
{% block body %}
{% endblock %}
</main>
</body>
</html>