<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>サンプルページ</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/styles/styles.css')}}">
</head>
<body>
    <br>
    <div>
<nav>
    {% if not user %}
    <div class="welcome">
        <br><br>
        <h4>Welcome to</h4>
        <h1>FOOTBALL ROOMS</h1>
    </div>
        <ul>
            <li>
                <a href="{{ url_for('register') }}">新規登録</a>
            </li>
            <li>
                <a href="{{ url_for('index') }}">ログイン</a>
            </li>
        </ul>
    {% else %}
    <div class="welcome">
        <h5>FOOTBALL ROOMS</h5>
        <!-- なんでインデント揃えるとエラーになる？？ -->
      </div>
        <h3>ようこそ{{ user["username"] }}さん</h3>
        <h4>プロフィール</h4>
        <table border="0">
            <tr>
              <td>Your Club</td>
              <td>{{ user["your_club"] }}</td>
            </tr>
            <tr>
              <td>Your League</td>
              <td>{{ user["your_league"] }}</td>
            </tr>
            <tr>
              <td>Your Nation</td>
              <td>{{ user["your_nation"] }}</td>
            </tr>
          </table>
        <ul>
            <li>
                <a href="{{ url_for('profile_update') }}">プロフィール</a>
            </li>
            <li>
                <a href="{{ url_for('articles_index') }}">記事一覧</a>
            </li>
            <li>
                <a href="{{ url_for('create_article_page') }}">投稿</a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}" methods="post"> ログアウト </a>
            </li>
        </ul>
    {% endif %}
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    {% if information %}
        <p style="color: cornflowerblue">{{ information }}</p>
    {% endif %}
</nav>
{% block body %}
{% endblock %}
</div>
</body>
</html>