{% extends "base.html" %}
{% block body %}
    <div class="content">
        <br><br><br><br>
        <h2>CREATE NEW COMMUNITY</h2>
        <form action="/new_community" method="post">
            <div>
                <p><input id="community_id" type="text" size="30" name="community_id" placeholder="Pubのidを作成しましょう!" required/></p>
            </div>
            <div>
                <p><input id="community_name" type="text" size="30" name="community_name" placeholder="Pubの名前を入れましょう!" required/></p>
            </div>
            <div>
                <textarea id="community_comment" name="community_comment" cols="40" rows="20" placeholder="Pubの紹介文を書きましょう! 検索されやすいように、ハッシュタグをつけましょう!"></textarea>
            </div>
            <!-- <div>
                <label><input type="radio" name="public_or_not" class="public" value="public" checked="checked">Public</label>
                <label><input type="radio" name="public_or_not" class="private" value="private">Private</label>
            </div> -->
            <br>
            <div>
                <button type="submit">作成</button>
            </div>
        </form>
    </div>
{% endblock %}