{% extends "base.html" %}
{% block body %}
<br><br><br><br>
    <div class="content">
        <h2><br>POST NEW BLOG</h2>
        <div class="formstyle">
            <form action="{{ url_for("post_article") }}" name="go" method="post">
                <div class="cp_iptxt">
                    <label for="title" class="ef">Blogのタイトルを入力</label><br><br>
                    <input id="title" type="text" name="title" size="40" placeholder="ブログのタイトルを決めよう！" />
                </div>
                <br><br><br>
                <div>
                    <label for="body">Blogの内容を作成</label><br><br>
                    <textarea id="body" name="body" rows="20" cols="40" placeholder="ブログの内容を書こう！"></textarea>
                </div>
                <br><br>
                <div>
                    <a href="javascript:go.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/submit.png')}}" width="30" height="30" alt="submit"></div></a>
                </div>
            </form>
        </div>
        
    </div>
{% endblock %}