{% extends "pub-index.html" %}
{% block body %}
<br>
    <div class="content">
        <h2><br><br><br>{{ pub["pub_name"] }}</h2>
        <p>新たなディスカッションを始めよう！！</p>
        <br>
        <div class="pubintro">
            <form action="/community/newdiscussion" name="go" method="post">
                <div>
                    <label for="status">ディスカッションの種類</label>
                    <p><select name="status">
                        <option value="QUESTION" selected>質問</option>
                        <option value="NEWS">ニュース</option>
                        <option value="PRE-MATCH">試合前</option>
                        <option value="POST-MATCH">試合後</option>
                        <option value="MATCH">試合中</option>
                        <option value="BREAKING!">速報</option>
                        <option value="CELEBRATE!">お祝い</option>
                        <option value="SHOCKING!">衝撃</option>
                        <option value="DISTRESSING...">悲報</option>
                    </select></p>
                </div>
                <div>
                    <label for="discuss_title">ディスカッションのタイトル</label>
                    <p><input id="discuss_title" name="discuss_title" size="40" placeholder="タイトル"></textarea></p>
                </div>
                <div>
                    <label for="body">ディスカッションの内容</label><br>
                    <p><textarea id="body" name="body" rows="10" cols="90" placeholder="本文"></textarea></p>
                </div>
                <div>
                    <p><input type="hidden" id="pub_id" value="{{ pub["pub_id"] }}" name="pub_id"/></p>
                </div>
                <br>
                <div>
                    <a href="javascript:go.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/submit.png')}}" width="30" height="30" alt="submit"></div></a>
                </div>
            </form>
        </div><br><br>
        
    </div>
{% endblock %}