{% extends "pub-index.html" %}
{% block body %}
<br>
<header id="manu" style="z-index:10000">
    <br><br>
    <a style="font-size: 145%;" class="join" href="{{ url_for("pub_detail_page", pub_id=topic["pub_id"]) }}"><b>{{ pub["pub_name"] }}</b></a>
    <br><br>
    <ul class="main_menu" style="list-style: none;padding-left: 4px;">
        <li>
            <a class="menus" href="{{ url_for("go_pub_discussion", pub_id=pub["pub_id"]) }}">
                <div class="img_rightside" style="margin-left: 3px;margin-bottom: 4px;"><img src="{{url_for('static', path='/pics/pub.png')}}" width="33" height="33" alt="menu"></div>
            </a>
        </li>
    </ul>
    
    <p>Member</p>
    <div class="followscroll">
        <table class="pubmembersTables">
            {% for member in members %}
            <tr>
                <td><a style="font-size: 85%;" class="menus" href="{{ url_for("user_detail_page", username=member["username"]) }}"><b>{{ member["nickname"] }}</b></a></td>
            </tr>
            {% endfor %}
        </table>
    
    </div>
    <br><br><br><br><br>
</header>
<div id="search">
    <div class="searchdiscussion">
        <p><a href="{{ url_for("post_discuss_comment", id=topic["id"]) }}"><div class="img_rightside"><img src="{{url_for('static', path='/pics/commentw.png')}}" width="30" height="30" alt="comment"></div></a></p>
        <p><a href="{{ url_for("discussion_detail_page", id=topic["id"]) }}"><div class="img_rightside"><img src="{{url_for('static', path='/pics/sync.png')}}" width="30" height="30" alt="comment"></div></a></p>
    </div>
</div>
<div class="content">
    <br><br>
    <div class="letter2">
        <p>
            <h3 style="font-size: 150%;background: #000000bb;color: whitesmoke;">{{ topic["status"] }}</h3>
            <p style="font-size: 300%;white-space:pre-wrap;word-wrap:break-all;text-align: left;color: rgb(0, 0, 0);"><b>{{ topic["title"] }}</b></p>
            <p style="font-size: 120%;white-space:pre-wrap;word-wrap:break-all;text-align: left;color: rgb(0, 0, 0);">{{ topic["body"] }}</p><Br>
            <p style="font-size: 105%;color: rgb(0, 0, 0);">By:<a class="blogtitle" href="{{ url_for("user_detail_page", username=topic["username"]) }}">{{ topic["nickname"] }}</a></p>
            <p style="font-size: 105%;color: rgb(0, 0, 0);">{{ topic["created_at"] }}</p>
        </p><br>
        {% if topic["username"] == user["username"] %}
        <div>
            <p style="text-align: center;"><a class="discussionpage" href="{{ url_for("edit_discussion_page", discussion_id=topic["id"]) }}">Edit</a></p>
        </div>
        
        {% endif %}
    </div>
<br>

<!-- <p style="text-align: center;"><a href="{{ url_for("comment_page", article_id=["id"]) }}">コメント</a></p> -->
<div class="letter2">
    <h2 style="background: #000000bb;color: whitesmoke;">Discussion</h2>
{% for comment in comments %}
    <h3 style="font-size: 100%;text-align: left;color: rgb(0, 0, 0);"><a class="discussionpage" href="{{ url_for("user_detail_page", username=comment["username"]) }}">{{ comment["nickname"] }}</a></h3>
    <p style="white-space:pre-wrap;word-wrap:break-all;text-align: left;color: rgb(0, 0, 0);">{{ comment["context"] }}</p>
    {% if comment["username"] == user["username"] %}
    <div>
        <p style="text-align: center;"><a class="discussionpage" href="{{ url_for("edit_discussioncomment_page", discussion_comment_id=comment["id"]) }}">Edit</a></p>
    </div>
    
    {% endif %}
    <p style="font-size: 85%;color: rgb(0, 0, 0);">{{ comment["created_at"] }}</p>
    <div style="border-bottom: rgb(0, 0, 0) 1px solid;"></div>
{% endfor %}
{% if not comments %}
<br>
<p style="color: rgb(0, 0, 0);">ディスカッションしましょう！</p>
</div>
</div>
{% endif %}
{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
{% if information %}
<p style="color: cornflowerblue">{{ information }}</p>
{% endif %}
{% endblock %}

