{% extends "base.html" %}
{% block body %}
<br>
    <div class="content" style="margin: 100px;">
        <div id="matchingUsers">
            <div>
                <h3>Followers</h3>
            <div class="followscroll">
                <table class="followesTables">
                    {% for follower in followers %}
                    <tr>
                        <td><a style="font-size: 85%;" class="blogtitle" href="{{ url_for("user_detail_page", username=follower["from_user_id"]) }}"><b>{{ follower["from_user_id"] }}</b></a></td>
                    </tr>
                    {% endfor %}
                </table>
                
            </div>
            <br><br>
            </div>
            
            <div>
                <h3>Followings</h3>
            <div class="followscroll">
                <table class="followesTables">
                    {% for following in followings %}
                    <tr>
                        <td><a style="font-size: 85%;" class="blogtitle" href="{{ url_for("user_detail_page", username=following["from_user_id"]) }}"><b>{{ following["to_user_id"] }}</b></a></td>
                    </tr>
                    {% endfor %}
                </table>
                
            </div>
            <br><br>
            </div>
        </div>
        


        <div style="border-bottom: #ffffff 2px solid;margin: 0px 300px;"></div>
        <p>{{ user["your_club"] }}のファン</p>
        <ul class="users-list">
            {% for fan in clubfan %}
            <li class="user">
                <p>
                    <p style="font-size: 145%;"><a style="font-size: 85%;" class="blogtitle" href="{{ url_for("user_detail_page", username=fan["username"]) }}"><b>{{ fan["nickname"] }}</b></a></p>
                    <p style="font-size: 78%;">{{ fan["created_at"] }}</p>
                </p>
            </li>
            {% endfor %}
        {% if not clubfan %}
        <p>そんなユーザーはまだいません</p>
        {% endif %}
        </ul>
        <p>{{ user["your_league"] }}のファン</p>
        <ul class="users-list">
            {% for fan in leaguefan %}
            <li class="user">
                <p>
                    <p style="font-size: 145%;"><a style="font-size: 85%;" class="blogtitle" href="{{ url_for("user_detail_page", username=fan["username"]) }}"><b>{{ fan["nickname"] }}</b></a></p>
                    <p style="font-size: 78%;">{{ fan["created_at"] }}</p>
                </p>
            </li>
            {% endfor %}
        {% if not clubfan %}
        <p>そんなユーザーはまだいません</p>
        {% endif %}
        </ul>
        <p>{{ user["your_nation"] }}のファン</p>
        <ul class="users-list">
            {% for fan in nationfan %}
            <li class="user">
                <p>
                    <p style="font-size: 145%;"><a style="font-size: 85%;" class="blogtitle" href="{{ url_for("user_detail_page", username=fan["username"]) }}"><b>{{ fan["nickname"] }}</b></a></p>
                    <p style="font-size: 78%;">{{ fan["created_at"] }}</p>
                </p>
            </li>
            {% endfor %}
        {% if not clubfan %}
        <p>そんなユーザーはまだいません</p>
        {% endif %}
        </ul>
        <br><Br><br>
        
    </div>
{% endblock %}