{% extends "base.html" %}
{% block body %}
    <div class="content">
        <p>あなたのFootballファン情報を入力してください。</p>
        <form action="/profile_update" method="post">
            <div>
                <label for="yourclub">好きなクラブを入力してください</label>
                <p><input id="yourclub" type="text" name="yourclub"/></p>
            </div>
            <div>
                <label for="yourleague">好きなリーグを選択してください</label>
                <p><input id="yourleague" type="text" name="yourleague"/></p>
            </div>
            <div>
                <label for="yournation">好きな国を選択してください</label>
                <p><input id="yournation" type="text" name="yournation"/></p>
            </div>
            <div>
                <button type="submit">更新</button>
            </div>
        </form>
    </div>
{% endblock %}