{% extends "user-index.html" %}
{% block body %}
<br><br><br><br><br><br>
    <div class="content">
        <h2>PROFILE</h2>
        <div class="formstyle">
        <form action="/profile_update" name="go" method="post">
            <div class="cp_iptxt">
                <label for="nickname" class="ef">あなたのニックネームを入力してください
                <p><input id="nickname" name="nickname" value="{{ user["nickname"] }}" rows="10" size="40" placeholder=""></label></p>
            </div><br>
            <div class="cp_iptxt">
                <label for="nickname" class="ef">Twitter
                <p><input id="twitter" name="twitter" value="{{ user["twitter"] }}" rows="10" size="40" placeholder="アカウントURL"></label></p>
            </div><br>
            <div class="cp_iptxt">
                <label for="nickname" class="ef">Instagram
                <p><input id="instagram" name="instagram" value="{{ user["instagram"] }}" rows="10" size="40" placeholder="アカウントURL"></label></p>
            </div><br>
            <div>
                <label for="profile">他のSNSアカウント</label>
                <p><textarea id="socialmedia" name="socialmedia" rows="5" cols="40"  placeholder="アカウントURL">{{ user["SNS"] }}</textarea></p>
            </div><br>
            <div>
                <label for="yourclub">あなたの好きなクラブを入力してください</label>
                <!-- <p><input id="yourclub" type="text" value="{{ user["your_club"] }}" maxlength="25" name="yourclub"/></p> -->
                <p><select name="yourclub">
                    <option value="{{ user["your_club"] }}" selected>{{ user["your_club"] }}</option>
                {% for club in clubs %}
                    <option value="{{ club["clubs"] }}">{{ club["clubs"] }}</option>
                {% endfor %}
                </select></p>

            </div><br>
            <div>
                <label for="yourleague">あなたの好きなリーグを選択してください</label>
                <!-- <p><input id="yourleague" type="text" value="{{ user["your_league"] }}" maxlength="25" name="yourleague"/></p> -->
                <p><select name="yourleague">
                    <option value="{{ user["your_league"] }}" selected>{{ user["your_league"] }}</option>
                    {% for league in leagues %}
                        <option value="{{ league["english_name"] }}">{{ league["leagues"] }}</option>
                    {% endfor %}
                </select></p>
            </div><br>
            <div>
                <label for="yournation">あなたの住んでいる国を選択してください</label>
                <!-- <p><input id="yournation" type="text" value="{{ user["your_nation"] }}" maxlength="25" name="yournation"/></p> -->
                <p><select name="yournation">
                    <option value="{{ user["your_nation"] }}" selected>{{ user["your_nation"] }}</option>
                    {% for nation in nations %}
                        <option value="{{ nation["nations"] }}">{{ nation["nations"] }}</option>
                    {% endfor %}
                </select></p>
            </div><br>
            <div>
                <label for="profile">自己紹介文を書きましょう</label>
                <p><textarea id="profile" name="profile" rows="10" cols="40" placeholder="">{{ user["profile"] }}</textarea></p>
            </div><br><Br>
            <div>
                <a href="javascript:go.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/submit.png')}}" width="30" height="30" alt="submit"></div></a>
            </div>
        </form>
    </div><br><br><br><br>
    </div>
{% endblock %}