{% extends "pub-index.html" %}
{% block body %}
<br><br>
<div id="search">
<div class="searchdiscussion">
    <form action="/search_discussion" method="post">
        <div>
            <label for="search_discussion">Discussion検索</label>
            <p><input id="search_discussion" type="text" value="" name="keyword"/></p>
        </div>
        <div>
            <table border="0" class="profile_table">
                <tr>
                  <td><label>Title</label></td>
                  <td><input type="radio" name="search_by" class="titles" value="titles" checked="checked"></td>
                </tr>
                <tr>
                  <td><label>Keyword</label></td>
                  <td><input type="radio" name="search_by" class="words" value="words"></td>
                </tr>
                <tr>
                  <td><label>User</label></td>
                  <td><input type="radio" name="search_by" class="us" value="users"></td>
                </tr>
              </table>
        </div>
        <div>
            <p><input type="hidden" id="pub_id" value="{{ pub["pub_id"] }}" name="pub_id"/></p>
        </div>
        <Br>
        <div>
            <button type="submit">検索</button>
        </div>
    </form>
    <br>
        <br>
        <p style="font-size: 90%;"><a class="menus" href="{{ url_for("go_pub_discussion", pub_id=pub["pub_id"]) }}">全て表示/更新</a></p>
        <p style="font-size: 90%;"><a class="menus" href="{{ url_for("create_new_discussion", pub_id=pub["pub_id"]) }}">新規投稿</a></p>
</div>
</div>
    <div class="content">
        <h1><br>ディスカッション!!</h1>
        <p>{{ pub["pub_name"] }}</p>
        <br>
        {% for result in topics %}
            <div class="letter">
                <p>
                    <h3 style="font-size: 120%;text-align: left;color: rgb(0, 0, 0);">#{{ result["status"] }}</h3>
                    <p style="font-size: 300%;white-space:pre-wrap;word-wrap:break-all;text-align: left;color: rgb(0, 0, 0);"><b><a class="discussionpage" href="{{ url_for("discussion_detail_page", id=result["id"]) }}">{{ result["title"] }}</a></b></p>
                    <p style="font-size: 100%;color: rgb(0, 0, 0);">By:<a class="blogtitle" href="{{ url_for("user_detail_page", username=result["username"]) }}">{{ result["nickname"] }}</a></p>
                    <p style="font-size: 100%;color: rgb(0, 0, 0);">{{ result["created_at"] }}</p>
                </p>
            </div>
            <br>
            {% endfor %}
        {% if not topics %}
            <p>投稿されたディスカッションはありません</p>
        {% endif %}
        
    </div>
    <br><Br>
{% endblock %}