{% extends "pub-index.html" %}
{% block body %}
<header id="manu" style="z-index:10000">
    <br><br><br>
    <a style="font-size: 145%;" class="join" href="{{ url_for("pub_detail_page", pub_id=pub["pub_id"]) }}"><b>{{ pub["pub_name"] }}</b></a>
    <br><br>
    <ul class="main_menu" style="list-style: none;padding-left: 4px;">
        <li>
            <a class="menus" href="{{ url_for("go_pub_discussion", pub_id=pub["pub_id"]) }}">
                <div class="img_rightside" style="margin-left: 3px;margin-bottom: 4px;"><img src="{{url_for('static', path='/pics/pub.png')}}" width="33" height="33" alt="menu"></div>
            </a>
        </li>
    </ul>
    
    <p>Member</p>
    <div class="followscroll">
        <table class="pubmembersTables">
            {% for member in members %}
            <tr>
                <td><a style="font-size: 85%;" class="menus" href="{{ url_for("user_detail_page", username=member["username"]) }}"><b>{{ member["nickname"] }}</b></a></td>
            </tr>
            {% endfor %}
        </table>
    
    </div>
    <br><br><br><br><br>
</header>
<br><br>
<div id="search">
<div class="searchdiscussion">
    <form action="/search_discussion" name="search" method="post">
        <div>
            <label for="search_discussion">Discussion検索</label>
            <p><input id="search_discussion" type="text" value="" name="keyword"/></p>
        </div>
        <div>
            <table border="0" name="search" class="profile_table">
                <tr>
                  <td><label>Title</label></td>
                  <td><input type="radio" name="search_by" class="titles" value="titles" checked="checked"></td>
                </tr>
                <tr>
                  <td><label>Keyword</label></td>
                  <td><input type="radio" name="search_by" class="words" value="words"></td>
                </tr>
                <tr>
                  <td><label>User</label></td>
                  <td><input type="radio" name="search_by" class="us" value="users"></td>
                </tr>
              </table>
        </div>
        <div>
            <p><input type="hidden" id="pub_id" value="{{ pub["pub_id"] }}" name="pub_id"/></p>
        </div>
        <div>
            <a href="#" onclick="document.search.submit();"><div class="img_rightside" style="margin-left: 3px;"><img src="{{url_for('static', path='/pics/search.png')}}" width="30" height="30" alt="search"></div></a>
        </div>
    </form>
    <br>
        <br>
        <p style="font-size: 90%;"><a href="{{ url_for("go_pub_discussion", pub_id=pub["pub_id"]) }}"><div class="img_rightside"><img src="{{url_for('static', path='/pics/sync.png')}}" width="30" height="30" alt="comment"></div></a></p>
        <p style="font-size: 90%;"><a href="{{ url_for("create_new_discussion", pub_id=pub["pub_id"]) }}"><div class="img_rightside" style="margin-left: 3px;"><img src="{{url_for('static', path='/pics/create.png')}}" width="30" height="30" alt="comment"></div></a></p>
</div>
</div>
    <div class="content">
        <h1><br><br>DISCUSSION</h1>
        <br>
        {% for result in topics %}
            <div class="letter">
                <p>
                    <h3 style="font-size: 120%;text-align: left;color: rgb(0, 0, 0);">#{{ result["status"] }}</h3>
                    <p style="font-size: 300%;white-space:pre-wrap;word-wrap:break-all;text-align: left;color: rgb(0, 0, 0);"><b><a class="discussionpage" href="{{ url_for("discussion_detail_page", id=result["id"]) }}">{{ result["title"] }}</a></b></p>
                    <p style="font-size: 100%;color: rgb(0, 0, 0);">By:<a class="blogtitle" href="{{ url_for("user_detail_page", username=result["username"]) }}">{{ result["nickname"] }}</a></p>
                    <p style="font-size: 100%;color: rgb(0, 0, 0);">{{ result["created_at"] }}</p>
                </p>
            </div>
            <br>
            {% endfor %}
        {% if not topics %}
            <p>投稿されたディスカッションはありません</p>
        {% endif %}
        
    </div>
    <br><Br>
{% endblock %}