{% extends "pub-index.html" %}
{% block body %}
<div class="pubHome">
    <div class="content">
        <div class="pubintro">
            <h3 class="board">Welcome</h3>
            <h1>{{ pub["pub_name"] }}</h1>
            <br>
            <p style="font-size: 80%;">{{ pub["pub_comment"] }}</p>
        </div>
        

        
        <br>
        <br>
        <!-- <h4>24人が参加しています。</h4>
        <p>メンバー</p>
        <ul class="members_list" style="list-style: none;">
            {% for result in members %}
            <li>
                {{ result["username"] }}
            </li>
            {% endfor %}
        </ul>
        {% if not members %}
        <p>まだ参加者はいません</p>
        {% endif %} -->
        <h3>あなたの好きな話題でみんなとディスカッションしましょう！！</h3>
        <a class="menus" href="{{ url_for("go_pub_discussion", pub_id=pub["pub_id"]) }}">参加する</a>
        <p>Follow</p>
    </div>
</div>

{% endblock %}