{% extends "pub-index.html" %}
{% block body %}

<div class="pubHome">
    <div class="content">
        <div class="pubintro">
            <h3 class="board">Welcome</h3>
            <h1>{{ pub["pub_name"] }}</h1>
            <br>
            <p style="font-size: 80%;">{{ pub["pub_comment"] }}</p>
        </div>
        

        
        <br>
        <table style="table-layout: fixed;margin: 0 auto;width: 30%;">
            <tr style="font-size: 110%;">
                <th>Followers</th>
            </tr>
            <tr style="font-size: 200%;">
                <td>{{ follower|length }}</td>
            </tr>
        </table>
        
        {% if not follow_or_not %}
        <form action="/followpub" name="follow"  method="post">
            <div>
                <p><input id="pub_id" type="hidden" value="{{ pub["pub_id"] }}" name="pub_id"/></p>
            </div>
            <div>
                <a href="javascript:follow.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/add.png')}}" width="30" height="30" alt="follow"></div></a>
            </div>
        </form>
        {% else %}
        <!-- <p style="color: white;">フォロー中</p> -->
        <form action="/unfollowpub" name="unfollow"  method="post">
            <div>
                <p><input id="pub_id" type="hidden" value="{{ pub["pub_id"] }}" name="pub_id"/></p>
            </div>
            <div>
                <a href="javascript:unfollow.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/check.png')}}" width="30" height="30" alt="follow"></div></a>
            </div>
        </form>
        
        {% endif %}
        <h3>あなたの好きな話題でみんなとディスカッションしましょう！！</h3>
        <br>
        <a class="join" href="{{ url_for("go_pub_discussion", pub_id=pub["pub_id"]) }}">参加する</a>
    </div>
</div>

{% endblock %}