{% extends "pub-index.html" %}
{% block body %}
    <div class="content">
        <h2>{{ pub["pub_name"] }}</h2>
        <p>Members:</p>
        <br>
        <hr>
        <br>
        <ul>
            {% for result in chats %}
            <li>
                {{ result["username"] }}: {{ result["created_at"] }}
                <br>{{ result["context"] }}
            </li>
            {% endfor %}
        </ul>
        {% if not chats %}
        <p>まだチャットはありません。何か送信してみましょう！</p>
        {% endif %}
        <footer>
            <form action="/community/chat" method="post">
                <div>
                    <p><textarea id="context" name="context" cols="20" rows="4" placeholder="context"></textarea></p>
                </div>
                <div><p><input type="hidden" id="user_name" value="{{ member["username"] }}" name="user_name"/></p></div>
                <div><p><input type="hidden" id="pub_id" value="{{ pub["pub_id"] }}" name="pub_id"/></p></div>
                <div>
                    <button type="submit">送信</button>
                </div>
            </form>
        </footer>
        
    
    </div>

{% endblock %}