<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FooTTown</title>
  <!-- <script type=text/javascript src="{{ url_for('static', path='/main.js') }}"></script> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/styles/styles.css')}}">
</head>

<body id="pub">
  <script>
        
    //初期表示は表示
    document.getElementById("manu").style.display ="none";
    
    function manuDisplay(){
        const manu = document.getElementById("manu");
    
        if(manu.style.display=="block"){
            // noneで非表示
            manu.style.display ="none";
        }else{
            // blockで表示
            manu.style.display ="block";
        }
    }
    </script>
  <div class="community">
    <nav class="backhome" id="menu" style="z-index:13000">
      <ul class="main_menu" style="list-style: none;display: flex;">
        <li style="list-style: none;">
          <a class="menus" style="text-align: center;" href="{{ url_for('top') }}">FooTTown</a>
        </li>
        <li style="list-style: none;margin-left: 10px;">
          <a class="menus" href="javascript:manuDisplay();">Menu</a>
        </li>
      </ul>
    </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
  </div>
  
</body>

</html>