<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FootHouse</title>
  <!-- <script type=text/javascript src="{{ url_for('static', path='/main.js') }}"></script> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/styles/styles.css')}}">
</head>

<body>
  <br>
  <div class="community">
    <nav class="backhome" style="z-index:10000">
      <ul class="main_menu" style="list-style: none;">
        <li>
          <a class="backtohome" href="{{ url_for('show_community_list') }}">戻る</a>
        </li>
      </ul>
    </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
  </div>
</body>

</html>