{% extends "base.html" %}
{% block body %}
    <div class="formstyle"  style="margin-top: 200px;">
        <h2 style="text-align: center;">Sign Up</h2>
        <br>
        <form action="/register" name="go" method="post">
            <div>
                <label for="username">ユーザネーム</label>
                <input id="username" type="text" size="40" name="username"/>
            </div>
            <div>
                <label for="password">パスワード</label>
                <input id="password" type="password" size="40" name="password"/>
            </div>
            <div>
                <label for="password-verify">パスワード(確認)</label>
                <input id="password-verify" size="40" type="password"/>
            </div><br><br>
            <div>
                <a href="javascript:go.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/submit.png')}}" width="30" height="30" alt="submit"></div></a>
            </div>
        </form>
        {% if error %}
        <p style="color: red">{{ error }}</p>
        {% endif %}
        {% if information %}
        <p style="color: cornflowerblue">{{ information }}</p>
        {% endif %}
    </div>
{% endblock %}