{% extends "user-index.html" %}
{% block body %}
<div class="content">
    <div class="profileheader" style="background-color: rgb(0, 64, 5);margin: 0px auto;padding: 100px;color: rgb(190, 255, 192);border: 0;">
        <h1>{{ other_user["nickname"] }}さんのページ</h1>
        <p>ユーザーネーム：{{ other_user["username"] }}</p><br>
        <div style="border-bottom: rgb(190, 255, 192) 2px dashed;margin: 0px 300px;"></div>
        <p>{{ other_user["your_club"] }} | {{ other_user["your_league"] }} | {{ other_user["your_nation"] }}</p><br>
        <p style="white-space:pre-wrap;font-size: 89%;">{{ other_user["profile"] }}</p>
        <div style="border-bottom: rgb(190, 255, 192) 2px dashed;margin: 0px 300px;"></div><br>
        <br>
        <table style="table-layout: fixed;margin: 0 auto;width: 30%;">
            <tr>
                <th>Followings</th>
                <th>Followers</th>
                <th>Pubs</th>
                <th>Blogs</th>
            </tr>
            <tr style="font-size: 140%;">
                <td>{{ following|length }}</td>
                <td>{{ follower|length }}</td>
                <td>{{ pubs|length }}</td>
                <td>{{ articles|length }}</td>
            </tr>
        </table>
        <br>
        {% if user["username"] != other_user["username"] %}
        {% if not follow_or_not %}
        <form action="/follow" name="follow"  method="post">
            <div>
                <p><input id="username" type="hidden" value="{{ other_user["username"] }}" name="username"/></p>
            </div>
            <div>
                <a href="javascript:follow.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/add.png')}}" width="30" height="30" alt="follow"></div></a>
            </div>
        </form>
        {% else %}
        <!-- <p style="color: white;">フォロー中</p> -->
        <form action="/unfollow" name="unfollow"  method="post">
            <div>
                <p><input id="username" type="hidden" value="{{ other_user["username"] }}" name="username"/></p>
            </div>
            <div>
                <a href="javascript:unfollow.submit()"><div class="img_wrap"><img src="{{url_for('static', path='/pics/check.png')}}" width="30" height="30" alt="unfollow"></div></a>
            </div>
        </form>
        
        {% endif %}
        {% endif %}
    </div>
    <div style="background-color: rgb(34, 104, 40);margin:0;padding: 50px 100px 90px 100px;color: rgb(254, 254, 254);border: 0;">
        <h3>Pubs</h3>
        {% if user["username"] == other_user["username"] %}
        <p><a href="{{ url_for('create_community') }}"><div class="img_wrap"><img src="{{url_for('static', path='/pics/add.png')}}" width="30" height="30" alt="add"></div></a></p>
        {% endif %}
    <ul class="pubs-list" style="margin: 0pt 100px;border-left: #000000b0 2px solid;border-right: #000000b0 2px solid;">
        {% for pub in pubs %}
        <li class="pub">
            <a style="font-size: 140%;" class="join" href="{{ url_for("pub_detail_page", pub_id=pub["pub_id"]) }}"><b>{{ pub["pub_name"] }}</b></a>
                <br>
                <p style="font-size: 90%;text-align: center;">{{ pub["created_at"] }}</p>
        </li>
        {% endfor %}
    {% if not pubs %}
    <p>Pubはまだありません</p>
    {% endif %}
    </ul>
    </div>
    
    <br><br>
    <h3>Blogs</h3>
    {% if user["username"] == other_user["username"] %}
    <p><a href="{{ url_for('create_article_page') }}"><div class="img_wrap"><img src="{{url_for('static', path='/pics/create.png')}}" width="30" height="30" alt="create"></div></a></p>
    {% endif %}
    <br>
    {% for article in articles %}
    <div class="user_blogs" style="white-space:pre-wrap;">
        <h3><a class="blogtitle" href="{{ url_for("article_detail_page", article_id=article["id"]) }}">{{ article["title"] }} </a></h3>
        <p style="font-size: 103%;text-align: left;margin: 0px;">{{ article["body"] }}</p>
        <p style="font-size: 78%;text-align: left;margin: 0px;">{{ article["created_at"] }}</p>
    </div>
    {% endfor %}
    {% if not articles %}
    <p>投稿された記事はありません</p>
    {% endif %}
    <br><br>

</div>

{% endblock %}