<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>サンプルページ</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/styles/styles.css')}}">
</head>

<body id="user">
  <div class="community">
    <nav class="backhome" id="manu" style="z-index:10000">
      <ul class="main_menu" style="list-style: none;">
        <li>
          <a class="menus" style="text-align: center;" href="{{ url_for('show_community_list') }}">FooTTown</a>
          <!-- <a href="./chatroom.html">chatroom</a>
          <a href="./bot.html">botとお話し</a> -->
        </li>
      </ul>
    </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
  </div>
</body>

</html>