{% extends "base.html" %}
{% block body %}
    <div>
        <h2 class="content">YOUR COMMUNITY</h2>
        <hr>
        <h3 class="content">Pubs</h3>
        <ul list-style:none>
            {% for result in your_community %}
            <li class="your_community">
                {{ result["pub_name"] }}<br>
                {{ result["pub_comment"] }}<br>
                <a href="{{ url_for("go_pub_home", pub_id=result["pub_id"]) }}">入る</a>
            </li>
            {% endfor %}
        </ul>
        {% if not your_community %}
        <p>該当するコミュニティは見つかりませんでした。</p>
        {% endif %}
    </div>
{% endblock %}