@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body#home {
  width: auto;
  /* background: linear-gradient(45deg, #d8d8d8, #ffffff, #c5c5c5);
  /*グラデーションを定義*/
  /* background-size: 180% 180%; */
  /*サイズを大きくひきのばす*/
  /* animation: bggradient 20s ease infinite;  */
  background-color: #53aa5d;
  font-family: 'Josefin Sans';
  color: rgb(255, 255, 255);
  background-attachment: fixed;
  margin: 0px;
}

body#user {
  width: auto;
  /* background: linear-gradient(45deg, #d8d8d8, #ffffff, #c5c5c5);
  /*グラデーションを定義*/
  /* background-size: 180% 180%; */
  /*サイズを大きくひきのばす*/
  /* animation: bggradient 20s ease infinite;  */
  background-color: #53aa5d;
  font-family: 'Josefin Sans';
  color: rgb(255, 255, 255);
  background-attachment: fixed;
  margin: 0px;
}

body#pub {
  width: auto;
  /* background: linear-gradient(45deg, #d8d8d8, #ffffff, #c5c5c5);
  /*グラデーションを定義*/
  /* background-size: 180% 180%; */
  /*サイズを大きくひきのばす*/
  /* animation: bggradient 20s ease infinite;  */
  background: repeating-linear-gradient(90deg, #000000, #000000 1px, #491b1b 3px, #491b1b 60px);
  font-family: 'Josefin Sans';
  color: rgb(255, 255, 255);
  background-attachment: fixed;
  margin: 0px;
}

.formstyle {
  background-color: rgb(34, 104, 40);
  margin: 50px 270px;
  padding: 80px;
  color: rgb(254, 254, 254);
  border: #ffffff 2px dashed;
  box-shadow: 0 0 0 5px rgb(34, 104, 40);
}

.pubHome {
  background: repeating-linear-gradient(90deg, #000000, #000000 1px, #491b1b 3px, #491b1b 60px);
  height: 100%;
  margin: 0;
  padding: 100px;
}

.board {
  font-family: 'Sacramento', cursive;
  font-size: 130%;
}

.pubintro {
  color: rgb(255, 255, 255);
  background-color: #000000b2;
  /*背景色の指定*/
  border: #505050d5 3px dotted;
  /*境界線の指定 */
  box-shadow: 0 0 0 4px #000000b2;
  padding: 50px 100px;
  margin: 30px auto;
  width: 47%;
  word-wrap: break-all;
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

main {
  display: block;
  font-family: 'Josefin Sans';
  margin: 0px;
}


header#manu {
  color: rgb(255, 255, 255);
  background: #0000008f;
  /*背景色の指定*/
  padding: 60px 30px 400px 20px;
  margin: auto;
  position: fixed;
}

nav#menu {
  color: rgb(255, 255, 255);
  /*背景色の指定*/
  background: #000000b7;
  top: 0;
  width: 100%;
  margin: auto;
  position: fixed;
}

div#search {
  position: fixed;
  right: 0;
  /* 基準の位置を画面の一番右に指定する */
}

.searchblog {
  border-left: 2px solid rgb(255, 255, 255);
  color: #ffffff;
  /*境界線の指定 */
  padding: 40px 20px;
  margin: 110px 20px;
  width: 63%;
}

.searchdiscussion {
  border-left: 2px solid rgb(255, 255, 255);
  /*境界線の指定 */
  padding: 40px 20px;
  margin: 100px 20px;
  width: 63%;
}


.menu li {
  list-style: none;
}

.profile_table {
  font-size: 90%;
}

.main_menu {
  font-size: 90%;
}

.matching_menu {
  font-size: 90%;
}

.community_menu {
  font-size: 90%;
}

.welcome {
  font-family: 'Josefin Sans';
  text-align: center;
}

.content {
  font-family: 'Josefin Sans';
  text-align: center;
  margin: 0px;
}




.members_list {
  display: inline-block;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.menus {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #ffffffa8 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #ffffff;
}

.menus:hover {
  background-position: 0 100%;
  color: rgba(139, 139, 139, 0.673);
}

.backtohome {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #000000 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #000000;
}

.backtohome:hover {
  background-position: -100% 0;
  color: rgb(255, 255, 255);
}

.join {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #ffffffee 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #ffffff;
}

.join:hover {
  background-position: -100% 0;
  color: rgb(0, 0, 0);
}

.topLink {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(14, 63, 18) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: rgb(14, 63, 18);
}

.topLink:hover {
  background-position: -100% 0;
  color: rgb(195, 255, 200);
}

.profile {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(190, 255, 192) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: rgb(190, 255, 192);
}

.profile:hover {
  background-position: -100% 0;
  color: rgb(0, 64, 5);
}

.blogtitle {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #000000a8 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #000000;
}

.blogtitle:hover {
  background-position: -100% 0%;
  color: rgb(255, 255, 255);
}

.discussionpage {
  padding: 0em 0em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #000000a8 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #000000;
}

.discussionpage:hover {
  background-position: -100% 0%;
  color: rgb(255, 255, 255);
}

.followuser {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(190, 255, 192) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: rgb(255, 255, 255);
}

.followuser:hover {
  background-position: -100% 0%;
  color: rgb(0, 64, 5);
}

.create_community2 {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: rgb(255, 255, 255);
}

.create_community2:hover {
  background-position: -100% 0%;
  color: rgb(34, 104, 40);
}




.your_community {
  color: rgb(255, 255, 255);
  background: repeating-linear-gradient(90deg, #000000, #000000 1px, #491b1b 3px, #491b1b 60px);
  /*背景色の指定*/
  border: #b0b0b0 3px dotted;
  /*境界線の指定 */
  box-shadow: 0 0 0 4px #1e0808;
  /*  境界線の外側の指定 */
  padding: 35px 75px;
  margin: 40px auto;
  width: 28%;
}

.communities {
  color: rgb(255, 255, 255);
  background: repeating-linear-gradient(90deg, #000000, #000000 1px, #491b1b 3px, #491b1b 60px);
  /*背景色の指定*/
  border: #000000 3px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 3px #000000;
  /*  境界線の外側の指定 */
  padding: 35px 75px;
  margin: 40px auto;
  width: 30%;
}

.blogs {
  color: rgb(14, 63, 18);
  background: rgb(195, 255, 200);
  padding: 6px 70px;
  margin: 7px auto;
  width: 20%;
}

.users {
  color: rgb(0, 0, 0);
  background: #ffffff96;
  /*背景色の指定*/
  border: #ffffff 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #ffffff3c;
  /*  境界線の外側の指定 */
  padding: 6px 70px;
  margin: 7px auto;
  width: 20%;
}

.usersbox {
  color: rgb(190, 255, 192);
  background: rgb(0, 64, 5);
  /*背景色の指定*/
  /*  境界線の外側の指定 */
  padding: 6px 70px;
  margin: 7px auto;
  width: 30%;
}

.user_blogs {
  color: rgb(14, 63, 18);
  background: rgb(195, 255, 200);
  padding: 0px 60px;
  margin: 10px auto;
  width: 55%;
}

.article {
  color: rgb(14, 63, 18);
  background: rgb(195, 255, 200);
  padding: 20px 40px;
  margin: 20px auto;
  width: 57%;
}

ul.pubs-list {
  overflow-x: auto;
  white-space: nowrap;
}

li.pub {
  display: inline-block;
  color: rgb(255, 255, 255);
  background: #000000bb;
  /*背景色の指定*/
  border: #ffffff74 2.4px dotted;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #000000a3;
  /*  境界線の外側の指定 */
  padding: 30px 60px;
  margin: 40px 10px;
  width: 25%;
}

ul.users-list {
  overflow-x: auto;
  white-space: nowrap;
}

li.user {
  display: inline-block;
  color: rgb(0, 0, 0);
  background: #ffffffbb;
  /*背景色の指定*/
  border: #000000b0 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #ffffffa3;
  /*  境界線の外側の指定 */
  padding: 15px 20px;
  margin: 20px auto;
  width: 15%;
}

.letter {
  background: rgb(211, 204, 193);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
  font-family: 'Times New Roman', Times, serif;
}

.letter:before,
.letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.letter:before {
  background: rgb(211, 204, 193);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}

.letter:after {
  background: rgb(211, 204, 193);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.letter2 {
  background: rgb(211, 204, 193);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  max-width: 800px;
  min-height: 300px;
  padding: 5px 20px;
  position: relative;
  width: 90%;
  font-family: 'Times New Roman', Times, serif;
}


.letter3 {
  color: rgb(255, 255, 255);
  /*背景色の指定*/
  background: #000000b7;
  top: 0;
  width: 100%;
  margin: auto;
  position: fixed;
}

.letter3:before,
.letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}


.profileheader {
  margin: 50px;
  border-bottom: #000000b0 2px solid;
}

.footer#brick {
  background-color: silver;
  background-image: linear-gradient(335deg, rgb(116, 0, 0) 23px, transparent 23px),
    linear-gradient(155deg, rgb(129, 0, 0) 23px, transparent 23px),
    linear-gradient(335deg, rgb(116, 0, 0) 23px, transparent 23px),
    linear-gradient(155deg, rgb(129, 0, 0) 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: fixed;
}

.img_wrap {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.img_wrap img {
  cursor: pointer;
  transition-duration: 0.3s;
}

.img_wrap:hover img {
  opacity: 0.3;
  transition-duration: 0.3s;
}

.img_rightside {
  width: 30px;
  height: 30px;
  margin: 0;
}

.img_rightside img {
  cursor: pointer;
  transition-duration: 0.3s;
}

.img_rightside:hover img {
  opacity: 0.3;
  transition-duration: 0.3s;
}

.img_follow {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.img_follow img {
  cursor: pointer;
  transition-duration: 0.3s;
}

.img_follow:hover img {
  opacity: 0.3;
  transition-duration: 0.3s;
}

#matchedInfo {
  background-color: #beffc0;
  margin: 30px 340px 20px;
  padding: 40px;
  color: #004005;
  text-align: center;

}

#matchedInfoTable {
  margin: 0 auto;
  border-collapse: collapse;
}

#matchedInfoTable td {
  width: 140px;
  padding: 10px;
  border-left: #004005 2px solid;
  border-right: #004005 2px solid;
}

.followscroll {
  height: 200px;
  overflow-y: scroll;
}

.followesTables {
  margin: 20px 10px;
}

.followesTables td{
  color: rgb(0, 0, 0);
  background: #ffffffbb;
  /*背景色の指定*/
  border: #000000b0 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #ffffffa3;
  /*  境界線の外側の指定 */
  width: 200px;
  height: 30px;
}

#matchingUsers {
  display: flex;
  /* Flexboxの利用 */
  justify-content: center;
  /* 子要素の横並び・中央寄せ */
}