@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  width: auto;
  background: linear-gradient(45deg, #d8d8d8, #ffffff, #c5c5c5);
  /*グラデーションを定義*/
  background-size: 180% 180%;
  /*サイズを大きくひきのばす*/
  animation: bggradient 20s ease infinite;
  font-family: 'Josefin Sans';
  color: rgb(0, 0, 0);
  background-attachment: fixed;
  margin: 0px;
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

main {
  display: block;
  font-family: 'Josefin Sans';
  margin: 0px;
}


header#manu {
  color: rgb(255, 255, 255);
  background: #000000b7;
  /*背景色の指定*/
  padding: 60px 30px 400px 20px;
  margin: auto;
  position: fixed;
}

div#search {
  position: fixed;
}

.searchblog {
  margin: 0 0 0 auto;
  width: 10%;
  display: block;
}



.menu li {
  list-style: none;
}

.profile_table {
  font-size: 90%;
}

.main_menu {
  font-size: 90%;
}

.community_menu {
  font-size: 90%;
}

.welcome {
  font-family: 'Josefin Sans';
  text-align: center;
}

.content {
  font-family: 'Josefin Sans';
  text-align: center;
  margin: 0px;
}




.members_list {
  display: inline-block;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.menus {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #ffffffa8 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #ffffff;
}

.menus:hover {
  background-position: 0 100%;
  color: rgba(139, 139, 139, 0.673);
}

.backtohome {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #000000 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #000000;
}

.backtohome:hover {
  background-position: -100% 0;
  color: rgb(255, 255, 255);
}

.join {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #ffffffee 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #ffffff;
}

.join:hover {
  background-position: -100% 0;
  color: rgb(0, 0, 0);
}

.blogtitle {
  padding: 0.2em 0.4em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #000000a8 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #000000;
}

.blogtitle:hover {
  background-position: -100% 0%;
  color: rgb(255, 255, 255);
}

.your_community {
  color: rgb(255, 255, 255);
  background: #000000bb;
  /*背景色の指定*/
  border: #ffffffb0 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #000000a3;
  /*  境界線の外側の指定 */
  padding: 35px 75px;
  margin: 40px auto;
  width: 28%;
}

.communities {
  color: rgb(255, 255, 255);
  background: #000000bb;
  /*背景色の指定*/
  border: #ffffffb0 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #000000a3;
  /*  境界線の外側の指定 */
  padding: 35px 75px;
  margin: 40px auto;
  width: 28%;
}

.blogs {
  color: rgb(0, 0, 0);
  background: #ffffffbb;
  /*背景色の指定*/
  border: #73737360 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #ffffff3c;
  /*  境界線の外側の指定 */
  padding: 6px 70px;
  margin: 7px auto;
  width: 20%;
}

.user_blogs {
  color: rgb(0, 0, 0);
  background: #ffffffbb;
  /*背景色の指定*/
  border: #73737360 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #ffffff3c;
  /*  境界線の外側の指定 */
  padding: 0px 60px;
  margin: 10px auto;
  width: 39%;
}

.article {
  color: rgb(0, 0, 0);
  border: #9e9e9e60 2px solid;
  padding: 20px 40px;
  margin: 20px auto;
  width: 50%;
}

ul.pubs-list {
  overflow-x: auto;
  white-space: nowrap;
}

li.pub {
  display: inline-block;
  color: rgb(255, 255, 255);
  background: #000000bb;
  /*背景色の指定*/
  border: #ffffffb0 2px solid;
  /*境界線の指定 */
  box-shadow: 0 0 0 2px #000000a3;
  /*  境界線の外側の指定 */
  padding: 30px 60px;
  margin: 40px auto;
  width: 25%;
}